altgraph==0.17
certifi==2021.5.30
charset-normalizer==2.0.4
contourpy==1.1.1
cycler==0.12.1
dataclass-csv==1.3.0
fonttools==4.43.1
future==0.18.2
idna==3.2
importlib-metadata==4.6.4
importlib-resources==6.1.0
kiwisolver==1.4.5
macholib==1.16.3
matplotlib==3.8.0
numpy==1.21.3
packaging==23.2
pefile==2021.5.24
Pillow==10.1.0
PyAudio==0.2.13
pydub==0.25.1
pyinstaller==4.5.1
pyinstaller-hooks-contrib==2021.2
pyparsing==3.1.1
PySide6==6.2.2
python-dateutil==2.8.2
pywin32-ctypes==0.2.0
requests==2.26.0
ShazamAPI==0.0.2
shiboken6==6.2.2
six==1.16.0
typing-extensions==3.10.0.0
urllib3==1.26.6
zipp==3.5.0
